@import "./media.scss";

.header {
  .container {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: center;
  }
}

.header__main-box {
  background-image: url(/public/bacround.png);
  max-width: 400px;
  height: 800px;
  margin: 50px;
  position: relative;
  width: 100%;
}

.header__second-box {
  background-image: url(/public/bacround.png);
  max-width: 370px;
  height: 800px;
  margin: 50px;
  width: 100%;
  position: relative;
}

.all {
  background-color: #323232;
  max-width: 400px;
  height: 112px;
  display: flex;
  align-items: center;
  border-radius: 25px 25px 0 0;
}
.all1 {
  background-color: #323232;
  max-width: 400px;
  height: 112px;
  display: flex;
  align-items: center;
  border-radius: 25px 25px 0 0;
  position: relative;
}
.online {
  color: aliceblue;
}

.boys_img {
  padding-left: 15px;
  padding-right: 10px;
}
.grils_img {
  padding-left: 15px;
  padding-right: 10px;
}
.title {
  color: white;
}
.commend2 {
  border-radius: 15px 15px 15px 0px;
  background-color: #c4bfff;
  width: 300px;
  height: 48px;
  margin: 11px 5px 10px 10px;
  padding: 5px 5px 5px 10px;
}

.commend1 {
  // display: flex;
  // flex-direction: column;
}

.commend3 {
  padding: 5px 0px 0px 10px;
}
.commend3_all {
  border-radius: 15px 15px 0px 15px;
  opacity: 1;
  background-color: #d0dcff;
  max-width: 262px;
  height: 67px;
  position: absolute;
  right: 10px;
}
.chat_esse_me {
  border-radius: 15px 15px 15px 0px;

  width: 300px;
  height: 48px;
  margin: 11px 5px 10px 10px;
  padding: 5px 5px 5px 10px;
  position: absolute;
  right: 10px;
}
.esse1 {
}

.foto {
  margin: 16px 20px 16px 0px;
}
.text {
  color: azure;
  margin-left: 10px;
}
input {
  background-color: unset;
  font-size: 26px;
  outline: none;
  border: none;
  font-weight: 100;
  line-height: 47px;
  padding-left: 10px;
  color: #d0dcff;
}
.add_btn {
  background-color: #323232;
  outline: none;
  border: none;
  border-radius: 0 0 9px 0;
  .send {
    color: aliceblue;
    font-size: 20px;
    padding: 0 5px;
  }
}
.header__main-box {
  display: flex;
  flex-direction: column;
}
.messages-container {
  flex: 1;
}
.input-box1 {
  display: flex;
  background-color: #323232;
  border-radius: 0 0 9px 9px;
}
.input-box {
  display: flex;

  background-color: #323232;
  border-radius: 0 0 9px 9px;
}
.message-item1 {
  margin: 11px 10px;
  display: grid;
}

.item_text {
  display: flex;
  align-items: center;
  padding: 7px 25px;
  width: fit-content;
  border-radius: 15px 15px 15px 0;
  background-color: #c4bfff;
  justify-self: start;
  
}

.messaAbdullo{
  background-color: #65c1ff;
  justify-self: end;
  border-radius: 15px 15px 0 15px;
}

/* Media qo'llash */
@include media(1440) {
  .header__main-box {
    max-width: 380px;
    height: 780px;
  }
  .header__second-box {
    max-width: 350px;
    height: 760px;
  }
}

@include media(1024) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .header__main-box,
  .header__second-box {
    max-width: 320px;
    height: 700px;
    margin: 40px 20px;
  }
  .all,
  .all1 {
    max-width: 320px;
    height: 100px;
  }
}

@include media(768) {
  .container {
    padding: 0 10px;
  }
  .header__main-box {
    max-width: 380px;
    height: 780px;
  }
  .header__second-box {
    max-width: 350px;
    height: 760px;
  }
  .all,
  .all1 {
    height: 90px;
    max-width: 100%;
   
  }
  .messages-container {
    padding: 10px;
  }
}

@include media(475) {
  .container {
    padding: 0 5px;
  }
  .header__main-box,
  .header__second-box {
    max-width: 350px;
   
  }
  .all,
  .all1 {
    max-width: 100%;
    height: 80px;
  }
  .input-box input {
    font-size: 19px;
    line-height: 38px;
  }
  .input-box{
    display: flex;
   justify-content: space-between; 
  }
}

@include media(375) {
  .header__main-box {
    max-width: 310px;
    height: 780px;
    margin: auto;
    margin-top: 20px;
  }
  .header__second-box {
    max-width: 310px;
    height: 760px;
    margin: auto;
    margin-top: 20px;
  }
  .input-box input {
    font-size: 16px;
    line-height: 22px;
  }
  .all,
  .all1 {
    max-width: 100%;
  }
}

@include media(320) {
  .header__main-box,
  .header__second-box {
    max-width: 100%;
    height: 600px;
  }
  .input-box input {
    font-size: 14px;
    line-height: 20px;
  }
}
